@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: white;
}

html {
  scroll-behavior: smooth;
}

header {
  position: relative;
  position: fixed;
  width: 100%;
  background-color: #ffffff;
  padding: 20px;
  z-index: 2222;
}

header .inner {
  max-width: 1440px;
  margin: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

header .inner .navigation nav ul li a {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #4F5665;
}

header .inner .navigation nav ul li a:hover {
  border-bottom: 1px solid white;
  transition: .5s;
}

header .inner .con {
  display: flex;
  align-items: center;
}

header .inner .con .sign {
  margin-right: 30px;
}

header .inner .con .sign a {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #0836be;
}

header .inner .con .button button {
  all: unset;
  cursor: pointer;
  background-color: transparent;
  padding: 13px 40px;
  border: 1px solid #F53855;
  border-radius: 30px;
}

.navigation {
  position: relative;
}

.navigation ul {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.navigation ul li {
  margin-left: 60px;
}

.navigation ul li a {
  position: relative;
  font-size: 18px;
  color: #000;
  font-weight: 500;
  line-height: 1;
  transition: 0.5s;
}

.navigation a::before {
  content: "" attr(data-menu) "";
  position: absolute;
  z-index: 1;
  color: #ef476f;
  width: 0px;
  transition: 0.5s;
  overflow: hidden;
}

.navigation a:hover::before {
  width: 100%;
}

input#toggle-icon,
.toggle-icon {
  display: none;
}

main .section1 {
  max-width: 1440px;
  width: 100%;
  margin: auto;
}

main .section1 .sec1 {
  padding-top: 50px;
  padding-bottom: 130px;
}

main .section1 .sec1 .left h1 {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 70px;
  color: #0B132A;
}

main .section1 .sec1 .left p {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #4F5665;
}

main .section1 .sec1 .left button {
  all: unset;
  padding: 15px 50px;
  background-color: #F53855;
  color: white;
  border-radius: 30px;
  margin-bottom: 20px;
}

main .section1 .sec1 .right img {
  width: 100%;
}

main .section2 {
  max-width: 1440px;
  width: 100%;
  margin: auto;
}

main .section2 .sec2 {
  width: 90%;
  margin: auto;
  box-shadow: 0px 0px 15px 5px #efeaea;
  margin-bottom: 50px;
  border-radius: 10px;
  padding: 20px;
}

main .section2 .sec2 .s2 {
  display: flex;
  align-items: center;
  margin: 10px 0px;
}

main .section2 .sec2 .s2 img {
  margin-right: 10px;
}

main .section2 .sec2 .s2 h2 {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #0B132A;
}

main .section2 .sec2 .s2 p {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #4F5665;
}

main .section3 {
  background-color: #E5E5E5;
}

main .section3 .sec3 {
  max-width: 1440px;
  width: 92%;
  margin: auto;
  text-align: center;
}

main .section3 .sec3 h2 {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  text-align: center;
  color: #0B132A;
  margin-bottom: 20px;
}

main .section3 .sec3 .pi {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #4F5665;
  padding-bottom: 60px;
}

main .section3 .sec3 .se3 {
  padding-bottom: 50px;
  justify-content: center;
}

main .section3 .sec3 .se3 .s3 {
  background-color: white;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  transition: .5s;
}

main .section3 .sec3 .se3 .s3 .free {
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #0B132A;
}

main .section3 .sec3 .se3 .s3 .fre {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  color: #0B132A;
  margin-bottom: 10px;
}

main .section3 .sec3 .se3 .s3 .true {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

main .section3 .sec3 .se3 .s3 .true img {
  margin-right: 20px;
}

main .section3 .sec3 .se3 .s3 .true2 {
  margin-bottom: 100px;
}

main .section3 .sec3 .se3 .s3 button {
  all: unset;
  cursor: pointer;
  padding: 10px 50px;
  border: 1px solid #F53855;
  border-radius: 20px;
  transition: .5s;
}

main .section3 .sec3 .se3 .s3:hover {
  border: 1px solid #F53855;
  box-shadow: 4px 5px 15px 5px #bbbbbb;
}

main .section3 .sec3 .se3 .s3:hover button {
  background-color: #F53855;
  color: white;
}

main #owl-carousel {
  padding-top: 136px;
  padding-bottom: 130px;
  width: 90%;
  margin: auto;
}

main .owl-carousel-1 {
  position: relative;
}

main .owl-carousel-1 .shop-card {
  display: flex;
  background-color: #f6f6f6;
  border-radius: 10px;
  padding: 50px;
}

main .owl-carousel-1 .shop-card .shop-card-img {
  width: 100%;
  margin-right: 20px;
}

main .owl-carousel-1 .shop-card .shop-card-content p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #8B8E99;
}

main .owl-carousel-1 .owl-dots .owl-dot span {
  width: 20px;
  height: 20px;
  margin: 5px 7px;
  border-radius: 30px;
  transition: all 0.2s ease;
}

main .owl-carousel-1 .owl-dots .owl-dot.active span {
  width: 100px;
  background-color: #D9D9D9;
}

main #owl-carousel .owl-prev,
main #owl-carousel .owl-next {
  position: absolute;
  top: calc(50% - 30px);
  width: 30px;
  height: 30px;
  background-color: #c3d2d0 !important;
  color: #4e1717 !important;
  font-size: 25px !important;
}

main .owl-carousel-1 .owl-prev {
  left: -15px;
}

main .owl-carousel-1 .owl-next {
  right: -15px;
}

main footer {
  position: relative;
  background-color: #F8F8F8;
  margin-top: 100px;
  padding-top: 200px;
  padding-bottom: 50px;
}

main footer .section5 {
  position: absolute;
  margin-top: -100px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

main footer .section5 .sec5 {
  max-width: 1440px;
  width: 90%;
  margin: auto;
  background-color: white;
}

main footer .section5 .sec5 .se5 {
  padding: 20px 20px;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 15px 3px #eae6e6;
  border-radius: 10px;
}

main footer .section5 .sec5 .se5 button {
  all: unset;
  cursor: pointer;
  background-color: #F53855;
  border-radius: 20px;
  padding: 10px 50px;
  border: 1px solid #F53855;
  color: white;
  transition: .5s;
}

main footer .section5 .sec5 .se5 button:hover {
  background-color: white;
  color: #F53855;
}

main footer .section5 .sec5 .se5 h2 {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  display: flex;
  align-items: center;
  color: #0B132A;
  margin-bottom: 20px;
}

main footer .section5 .sec5 .se5 p {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  display: flex;
  align-items: center;
  color: #4F5665;
  margin-bottom: 30px;
}

main footer .futer {
  max-width: 1440px;
  width: 90%;
  margin: auto;
  text-align: center;
}

main footer .futer p {
  color: #4F5665;
}

main footer .futer .bir .left {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

main footer .futer .ikki p,
main footer .futer .uch p {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #4F5665;
}

main footer .futer .ikki h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #0B132A;
}

main footer .futer .uch h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #0B132A;
}

main footer .futer .tort h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #0B132A;
}

@media (max-width: 970px) {
  header {
    padding: 20px 50px;
    padding-bottom: 40px;
  }
  header .inner .logo-wrap .logo2 {
    margin-top: -10px;
  }
  header .inner .navigation nav ul li a {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #4F5665;
  }
  header .inner .navigation nav ul li a:hover {
    border-bottom: 1px solid white;
    transition: .5s;
  }
  header .inner .con {
    display: none;
  }
  .logo {
    font-size: 38px;
  }
  .navigation {
    position: absolute;
    top: 33px;
    left: 0;
    width: 100%;
  }
  .navigation ul li {
    margin-left: 0px;
    width: 100%;
    background: #F53855;
    animation: liAnim 0.5s 0ms ease-in forwards;
    transform-origin: left;
    opacity: 0;
    transform: scaleY(0);
  }
  .navigation ul li:nth-child(1) {
    animation-delay: 100ms;
  }
  .navigation ul li:nth-child(2) {
    animation-delay: 300ms;
  }
  .navigation ul li:nth-child(3) {
    animation-delay: 500ms;
  }
  .navigation ul li:nth-child(4) {
    animation-delay: 700ms;
  }
  .navigation ul li:nth-child(5) {
    animation-delay: 900ms;
  }
  .navigation ul li:nth-child(6) {
    animation-delay: 1100ms;
  }
  @keyframes liAnim {
    0% {
      opacity: 0;
      transform: scaleY(0);
    }
    100% {
      opacity: 1;
      transform: scaleY(1);
    }
  }
  .navigation a {
    line-height: 1;
    display: block;
    color: white !important;
    padding: 15px 10px;
  }
  .navigation a::before {
    color: black;
  }
  .navigation nav {
    display: none;
  }
  .toggle-icon {
    display: block;
  }
  .toggle-icon {
    position: fixed;
    top: 6px;
    right: 50px;
    width: 55px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  /* hamburger css start */
  .hamburger {
    position: relative;
    width: 60%;
    height: 60%;
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
  }
  .burger-1::before,
  .burger-1::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: black;
    border-radius: 8px;
    transition: 0.3s;
  }
  .burger-1::before {
    transform: translateY(-10px);
  }
  #toggle-icon:checked + .toggle-icon .burger-1::before {
    transform: translateY(0) rotate(-315deg);
  }
  .burger-1::after {
    transform: translateY(10px);
    box-shadow: 0 -10px 0 black;
  }
  #toggle-icon:checked + .toggle-icon .burger-1::after {
    transform: translateY(0) rotate(-45deg);
    box-shadow: unset;
  }
  #toggle-icon:checked ~ nav {
    display: block;
  }
}

@media (min-width: 300px) {
  main .section1 .sec1 {
    width: 90%;
    margin: auto;
  }
  main .section1 .sec1 .left h1 {
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
  }
  main .section1 .sec1 .left p {
    font-size: 15px;
    line-height: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media (min-width: 850px) {
  main .section3 .sec3 .se3 {
    display: flex;
  }
  main .section3 .sec3 .se3 .s3 {
    margin: 0px 10px;
    width: 100%;
  }
  main .section5 .sec5 .se5 {
    display: flex;
  }
  main footer .futer {
    display: flex;
    justify-content: space-between;
    text-align: start;
  }
  main footer .futer .bir {
    justify-content: flex-start;
  }
  main footer .futer .bir .left {
    justify-content: flex-start;
  }
  main footer .futer .ikki, main footer .futer .uch, main footer .futer .tort {
    margin-right: 10px;
  }
}

@media (min-width: 900px) {
  main .section1 .sec1 {
    width: 90%;
    display: flex;
    align-items: center;
  }
  main .section2 .sec2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  main .section2 .sec2 .ciziq {
    display: block;
  }
  main .section2 .sec2 .ciziq img {
    display: block !important;
  }
  main .section5 .sec5 .se5 h2 {
    font-size: 35px;
  }
  main .section5 .sec5 .se5 p {
    font-size: 16px;
  }
}

@media (min-width: 1000px) {
  main .section1 .sec1 {
    width: 95%;
    display: flex;
    align-items: center;
  }
}

@media (min-width: 1300px) {
  main .section1 .sec1 {
    width: 97%;
    display: flex;
    align-items: center;
  }
}

@media (min-width: 1450px) {
  main .section1 .sec1 {
    width: 100%;
    display: flex;
    align-items: center;
  }
}
/*# sourceMappingURL=style.css.map */